html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

@font-face {
  font-family: 'Playfair Display';
  src: url('../fonts/PlayfairDisplay-BlackItalic.woff2') format('woff2'),
    url('../fonts/PlayfairDisplay-BlackItalic.woff') format('woff');
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Playfair Display';
  src: url('../fonts/PlayfairDisplay-Bold.woff2') format('woff2'),
    url('../fonts/PlayfairDisplay-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Playfair Display';
  src: url('../fonts/PlayfairDisplay-Black.woff2') format('woff2'),
    url('../fonts/PlayfairDisplay-Black.woff') format('woff');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Playfair Display';
  src: url('../fonts/PlayfairDisplay-Italic.woff2') format('woff2'),
    url('../fonts/PlayfairDisplay-Italic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Playfair Display';
  src: url('../fonts/PlayfairDisplay-ExtraBoldItalic.woff2') format('woff2'),
    url('../fonts/PlayfairDisplay-ExtraBoldItalic.woff') format('woff');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Playfair Display';
  src: url('../fonts/PlayfairDisplay-BoldItalic.woff2') format('woff2'),
    url('../fonts/PlayfairDisplay-BoldItalic.woff') format('woff');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Playfair Display';
  src: url('../fonts/PlayfairDisplay-ExtraBold.woff2') format('woff2'),
    url('../fonts/PlayfairDisplay-ExtraBold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Playfair Display';
  src: url('../fonts/PlayfairDisplay-Medium.woff2') format('woff2'),
    url('../fonts/PlayfairDisplay-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Playfair Display';
  src: url('../fonts/PlayfairDisplay-MediumItalic.woff2') format('woff2'),
    url('../fonts/PlayfairDisplay-MediumItalic.woff') format('woff');
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Playfair Display';
  src: url('../fonts/PlayfairDisplay-Regular.woff2') format('woff2'),
    url('../fonts/PlayfairDisplay-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Playfair Display';
  src: url('../fonts/PlayfairDisplay-SemiBold.woff2') format('woff2'),
    url('../fonts/PlayfairDisplay-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Playfair Display';
  src: url('../fonts/PlayfairDisplay-SemiBoldItalic.woff2') format('woff2'),
    url('../fonts/PlayfairDisplay-SemiBoldItalic.woff') format('woff');
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

body {
  font-family: 'Playfair Display', sans-serif;
  font-size: 22px;
  color: #2b2b2b;
}

a {
  color: inherit;
  text-decoration: none;
}

.container {
  margin: 0 auto;
  width: 100%;
  max-width: 1278px;
}

.header-secondary {
  background: #2b2b2b url('../images/banners/banner.png') no-repeat center
    center / cover;
  height: 480px;
}

.header-secondary-inner {
  display: flex;
  justify-content: space-between;
  padding-top: 30px;
}

.header-connect {
  display: flex;
  padding-left: 120px;
  padding-top: 10px;
}

.header-connect li {
  display: inline-flex;
  color: #fff;
  margin: 0 4px;
  font-size: 16px;
}

.header-controls {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-right: 120px;
  position: relative;
}

.header-controls ul {
  display: inline-flex;
  align-items: center;
  gap: 5px;
}

.header-controls .search-icon {
  position: absolute;
  display: flex;
  flex-direction: row-reverse;
  padding-left: 10px;
  top: 16px;
  background: none;
  border: none;
}

.header-controls .search-box {
  height: 41px;
  font-size: 12px;
  font-family: inherit;
  padding-left: 30px;
  width: 254px;
}

.header-controls li {
  display: inline-flex;
  color: #2b2b2b;
  margin: 0 4px;
  font-size: 16px;
}

.header-primary {
  background: #2b2b2b;
  height: 52px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-primary-content ul {
  display: flex;
  justify-content: space-between;
}

.header-primary-content a {
  font-size: 19px;
  font-weight: 300;
  color: #fff;
  text-transform: uppercase;
}

.home-catalog-preview {
  margin-top: 14px;
  border-top: 1px solid rgb(204, 204, 204);
  position: relative;
}

.home-catalog-preview .left-scroll {
  position: absolute;
  z-index: 1;
  left: -26px;
  top: 206px;
}

.home-catalog-preview .right-scroll {
  position: absolute;
  z-index: 1;
  right: -26px;
  top: 206px;
}

.home-catalog-preview .product-view-all {
  display: block;
  text-align: center;
  border: 2px solid #2b2b2b;
  width: 114px;
  margin: 0 auto 40px auto;
  padding: 10px 20px;
  transition: background-color 1s, color 1s;
}

.home-catalog-preview .product-view-all:hover {
  background-color: #2b2b2b;
  color: #fff;
}

.home-catalog-preview header {
  margin-top: 14px;
}

.content-main > .home-catalog-preview > header > h1 {
  font-size: 35px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 20px;
}

.home-catalog-preview .product-tiles {
  display: flex;
  justify-content: space-between;
  margin-bottom: 42px;
  gap: 20px;
}

.product-tile {
  text-align: center;
}

.product-tile .product-tile-image {
  margin-bottom: 30px;
  display: block;
}

.product-tile .product-tile-image img {
  width: 100%;
}

.product-tile .product-tile-title {
  font-size: 22px;
  margin-bottom: 10px;
}

.product-tile .product-tile-pricing {
  line-height: 20px;
  font-size: 22px;
  margin-bottom: 18px;
}

.product-tile .product-tile-header {
  position: relative;
}

.product-tile .product-tile-header .product-tile-wishlist {
  position: absolute;
  top: 10px;
  right: 10px;
  transition: color 1s ease;
}

.product-tile .product-tile-header .product-tile-wishlist:hover {
  color: red;
}

.home-content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 666px;
  gap: 140px;
  margin-bottom: 40px;
}

.home-content h1 {
  font-size: 38px;
  font-weight: 700;
  margin-bottom: 40px;
}

.home-content p {
  font-size: 22px;
  font-weight: 300;
  margin-bottom: 60px;
  text-align: justify;
}

.footer {
  background: #e8e8e8;
  padding: 42px 0;
  font-size: 22px;
}

.footer-inner {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  /* align-self: auto; */
}

.footer-inner li {
  margin-bottom: 8px;
}

.footer-subscription-form {
  display: block;
  width: 300px;
  margin-bottom: 14px;
}

.footer-subscription-form .email-box {
  height: 30px;
  padding: 0 10px;
  width: 80%;
  font-family: inherit;
}

.footer-subscription-form .footer-submit-subscription {
  font-family: inherit;
  text-transform: uppercase;
  background: #fff;
  padding: 5px 20px;
  border: 1px solid #2b2b2b;
  transition: background-color 1s ease;
}

.footer-subscription-form .footer-submit-subscription:hover {
  background: #2b2b2b;
  color: #fff;
}

.privacy-checkbox {
  font-size: 14px;
}

.footer-social-icons {
  display: inline-flex;
  gap: 14px;
}

.privacy-checkbox span {
  text-decoration: underline;
}
