/* insert code */

i {
  color: red;
}

a {
  color: green;
}

.line {
  text-decoration: underline;
}

p .line {
  color: gray;
}

.links a {
text-decoration: none;
}

b {
  color: purple;
}

.odd .line {
  color: blue;
}

.odd i {
  text-decoration: underline;
}

.even b {
  text-decoration: underline;
}

a[href^="http://"] {
  color: red;
}

a[href*=".com"] {
  color: black;
}

