@font-face {
    font-family: 'Mynerve';
    src: url('Mynerve-Regular.woff2') format('woff2'),
        url('Mynerve-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

