@font-face {
  font-family: 'Mynerve';
  src: url('../fonts/../fonts/Mynerve-Regular.woff2') format('woff2'),
      url('../fonts/../fonts/Mynerve-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: Mynerve, sans-serif;
}
