.box {
  width: 25px;
  height: 25px;
  display: inline-block;
}

.box-red {
  background-color: red;
  transition: width 3s linear;
}

.box-red:hover {
  width: 120px;
}

.box-green {
  background-color: green;
}

/* Cerinta este: Documentul trebuie sa contina o cutie mov care tranzitioneaza la 100px inaltime si latime peste 4 secunde cu functia ease si un delay de 1s.
Cutia mov nu are valoarea potrivita pentru proprietatea transition.
Aici avem de 2 ori taskul in pixeltab*/
.box-purple {
  background-color: purple;
  transition: width 4s ease 1s, height 4s ease 1s;
}

.box-purple:hover {
  width: 100px;
  height: 100px;
}

.box-brown {
  background-color: brown;
  transition: transform 4s ease-in;
}

.box-brown:hover {
  transform: rotate(-180deg) scale(0.5);
}

.box-yellow {
  background-color: yellow;
  transition: transform 3s ease-in-out;
}

.box-yellow:hover {
  transform: scale(2)
}


.box-green {
  transition: transform 5s linear;
}

.box-green:hover {
  transform: rotate(360deg) scale(1.5);
}

.box-purple {
  transition: width 4s ease 1s;
}

.box-purple:hover {
  width: 200px;
}
